@charset "UTF-8";
html, body {
  min-width: 320px;
  font-family: sans-serif,細明體;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff; }

.img {
  max-width: 100%;
  height: auto; }

.small_font {
  font-size: 12px; }

.word {
  word-break: normal; }

header {
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.search_bar {
  margin: 10px 5px; }
  .search_bar .opts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
  .search_bar .opt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 55px;
    padding: 0 5px;
    border: solid 1px #fff;
    border-radius: 10%;
    margin: 12px 7px; }
    .search_bar .opt:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.3); }

.course_box {
  width: 22%;
  border: solid 1px;
  margin: 15px 15px;
  padding: 10px 5px; }
  .course_box:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #0c0d0c; }
  .course_box > * {
    margin: 5px 0; }

.highlight {
  background: rgba(255, 255, 255, 0.4); }

.couerse_panel {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }

.course_box .course_name {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.search {
  margin-top: 10px;
  text-align: center; }

.link {
  text-align: right; }
  .link > a {
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(235, 23, 23, 0.8);
    font-weight: bold; }
    .link > a:hover {
      cursor: pointer;
      font-size: 24px; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .course_box {
    width: 85%; } }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .course_box {
    width: 43%; } }
