@import "_var.scss";
@import "_reset.scss";
@import "_function.scss";

header{
  min-width: 600px;
  display: flex;
  justify-content: center;
}
.search_bar{
  margin: 10px 5px;

  .opts{
    display: flex;
    flex-flow: wrap;
  }
  .opt{
    display:flex;
    align-items:center;
    justify-content:center;
    width:80px;
    height:55px;
    padding: 0 5px;
    border: solid 1px #fff;
    border-radius: 10%;
    margin: 12px 7px ;
    &:hover{
      cursor:pointer;
      background: rgba(#fff,0.3);
    }
  }

}
.course_box{
  width:300px;
  border: solid 1px;
  margin: 15px 15px;
  padding: 10px 5px;
  &:hover{
    background: rgba(#fff,0.7);
    color:rgb(12, 13, 12);
  }
  >*{
    margin: 5px 0;
  }
}
.highlight{
  background: rgba(#fff,0.4);
}
.couerse_panel{
  justify-content: center;
  display: flex;
  flex-flow: wrap;
}
.course_box .course_name{
  height: 70px;
  display:flex;
  align-items:center ;
}
.search{
  margin-top: 10px;
  text-align:center;
}
.link{
  text-align: right;
  &>a{
    margin-right: 10px;
    text-decoration: none;
    color:rgba(0, 85, 255, 1);
    font-weight: bold;
    &:hover{
      cursor:pointer;
      font-size: 18px;
    }
  }
}
@media (max-width: 480px){
  .course_box{
    width: 80%;
  }
}
@media (max-width: 1024px){
  .course_box{
    width: 45%;
  }
}
