@import "_var.scss";
@import "_reset.scss";

header{
  min-width: 600px;
  display: flex;
  justify-content: center;
  /* margin:0 auto; */
}
.search_bar{
  display: flex;
  flex-flow: wrap;
  margin: 10px 5px;
  justify-content: center;

  .opts{
    display: flex;
    flex-flow: wrap;
  }
  .opt{
    width:70px;
    text-align: center;
    padding: 0 7px;
    border: solid 1px #fff;
    border-radius: 10%;
    margin: 0px 7px 12px;
    &:hover{
      cursor:pointer;
      background: rgba(#fff,0.3);
    }
  }

}
.course_box{
  /* display:flex; */
  /* flex-flow: wrap; */
  /* flex-flow: column; */
  /* flex-flow:wrap; */
  width:300px;
  border: solid 1px;
  margin: 15px 15px;
  padding: 10px 5px;
  cursor:pointer;
  &:hover{
    background: rgba(#fff,0.8);
    color:rgb(12, 13, 12);
  }
  >*{
    margin: 5px 0;
  }
}
.highlight{
  background: rgba(#fff,0.4);
}
.couerse_panel{
  justify-content: center;
  display: flex;
  flex-flow: wrap;
}
.course_box .course_name{
  border: 1px solid;
  height: 50px;
  display:flex;
  align-items:center ;
  /* align-content:center; */
}
