@import "_var.scss";
@import "_reset.scss";
@import "_function.scss";

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .course_box{
    width: 85%;
  }
  .opt{
    width: 20%;
    font-size:1.45rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .course_box{
    width: 43%;
  }
  .opt{
    width: 15%;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .opt{
    width:7.5%;
    font-size: 1rem;
  }
}

header{
  min-width: 320px;
  display: flex;
  justify-content: center;
}
.search_bar{
  margin: 10px 5px;

  .opts{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .opt{
    display:flex;
    align-items:center;
    justify-content:center;
    /* width: 7%; */
    height: 12%;
    padding: 1% 0.5%;
    line-height: 2rem;
    border: solid 1px #fff;
    border-radius: 10%;
    margin: 12px 7px ;
    /* font-size: 1rem; */
    &:hover{
      cursor:pointer;
      background: rgba(#fff,0.3);
    }
  }

}
.course_box{
  width:22%;
  border: solid 1px;
  margin: 15px 15px;
  padding: 10px 5px;
  &:hover{
    background: rgba(#fff,0.6);
    color:rgb(12, 13, 12);
  }
  >*{
    margin: 5px 0;
  }
}
.highlight{
  background: rgba(#fff,0.4);
}
.couerse_panel{
  justify-content: center;
  display: flex;
  flex-flow: wrap;
}
.course_box .course_name{
  height: 70px;
  display:flex;
  align-items:center ;
}
.search{
  margin-top: 10px;
  text-align:center;
}
.link{
  text-align: right;
  &>a{
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(235, 23, 23,0.8);
    font-weight: bold;
    &:hover{
      cursor:pointer;
      font-size: 24px;
    }
  }
}
