<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <title>Query Course</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
  <div id="app">

    <header>
        <h1>CCU 課程簡易查詢</h1>
    </header>
    <hr>
    <div class="search_bar">
      <div class="opts faculties">
        <div class="opt" v-for="faculty,i in faculties" v-on:click="change_faculty_state(i)">
          {{faculty}}
        </div>
      </div>
      <hr>
      <div class="opts departments">
        <div style="font-size:12px" class="opt" v-for="department in departments" v-on:click="change_department_state(department)">
          {{department}}
        </div>
      </div>
      <div class="search">
        <!-- <label>課程名稱</label> -->
        <select v-model="selected">
          <option v-for="opt,i in query_options">
            {{opt}}
          </option>
        </select>
        <input type="text" v-model="filter">
      </div>
    </div>
    <div class="couerse_panel">
      <coursebox v-bind:course='cs' v-for='cs in filter_courses' >

      </coursebox>
    </div>
    <!-- {{courses}} -->
  </div>

  <template id="course"    >
    <div class="course_box" >
      <div class="course_type">
        <span class="department" v-html='course.department'></span>
        <span class="direction" v-if="course.category=='通識'" v-html='course.direction'></span>&nbsp&nbsp
        <span class="grade"   v-else v-bind:style="color()" v-html='course.grade'></span>
        <span class="category" v-html="course.category"></span>
      </div>
      <div class="course_name" v-html='course.class_name'></div>
      <div class="course_teacher" v-html='course.teacher'></div>
      <div class="course_time" v-html='course.time'></div>
      <div class="course_location" v-html='course.location'></div>
      <div class="link">
        <a v-bind:href="ccuplus()" target="_parent">ccuplus</a>
        <a v-bind:href="outline()" target="_parent">課程大綱</a>
      </div>

    </div>
  </template>
  <script src="./js/index.js"></script>
</body>
</html>
